:root{
    --shadov:  0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

body{
    background-color: #faedcd;
}

.App{
    max-width: 1400px;
    padding: 2rem;
    margin-inline: auto;
}

/* CostItem */

.costitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #073b4c;
    border-radius: 20px;
    box-shadow: var(--shadov);
}

.costitem-date{
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #ffd166;
    border-radius: 10px;
    color: #ef476f;
    box-shadow: var(--shadov);
    min-width: 200px;
}

.cost-item__description{
    font-size: 20px;
    padding: 1rem;
    background-color: #118ab2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffd166;
    box-shadow: var(--shadov);
    min-width: 100px;
}

.item-price{
    padding: 1rem;
    background-color: #06d6a0;
    border-radius: 10px;
    color: #ef476f;
    box-shadow: var(--shadov);
}

.costs-box{
    background-color: #ef476f;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: var(--shadov);
}

/* CostItem */

/* NewCost */

.new-cost{
    background-color: #ccd5ae;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--shadov);
    margin-block-end: 20px;
}

.new-cost__form{
    background-color: #e9edc9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--shadov);
}

.new-cost__controls{
    padding: 1rem;
    background-color:#d4a373;
    border-radius: 10px;
    box-shadow: var(--shadov);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.new-cost__control{
    background-color: #606c38;
    padding: 1rem;
    border-radius: 10px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--shadov);
}

.new-cost__control label{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.new-cost__control input{
    box-shadow: var(--shadov);
    font-size: 25px;
    border-radius: 10px;
    border: none;
}

.new-cost__actions{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}

.new-cost__add{
    padding: 1.5rem 1rem;
    font-size: 24px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #073b4c;
    cursor: pointer;
    color: white;
    transition: all .7s ease-in-out;
    border-radius: 10px;
    box-shadow: var(--shadov);
}
.new-cost__add:hover{
    background-color: limegreen;
}

.new-sot-cancel{
    padding: 1.5rem 1rem;
    font-size: 24px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #073b4c;
    cursor: pointer;
    color: white;
    transition: all .7s ease-in-out;
    border-radius: 10px;
    box-shadow: var(--shadov); 
}
.new-sot-cancel:hover{
    background-color: tomato;
}
/* NewCost */